@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/reg/img/ulitsa-doma-maiami-florida-ssha-ocean-drive.jpg) no-repeat;
    background-size: cover;
    color: white;
}

.wrapper{
    width: 500px;
    /* height: 500px; */
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 30px 40px;
}

.wrapper h1{
    text-align: center;
    font-size: 40px;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    /* background: #1479f4; */
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 50px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
    /* font-size: 20px; */
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px ;
}

.remember a{
    text-decoration: none;
    color: white;
}

.remember label input{
    margin-right: 3px;
}

.remember a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    background: white;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.wrapper .btn:hover {
    transform: scale(0.9);

}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.wrapper .register-link p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.wrapper .register-link p a:hover{
    text-decoration: underline;
}

.wrapper .input-box:last-of-type {
    margin-bottom: 100px;
}

.input-box {
    margin-bottom: 400px; /* Увеличиваем отступ для размещения сообщения об ошибке */
}